body {
	background-color: lightgray;
	
}

@media only screen and (min-width: 789px) {
	body {
	width: 789px;
	margin-left: auto;
	margin-right: auto;
	}
}

header {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}


header ul {
	list-style-type: none;
	font-family: courier;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

header li {
	display: inline;
	padding-left: 12px;
}


header a {
	color: black;
	text-decoration: none;
}

header .active {
	color: white;
	background-color: lightgray;
}

header a:hover {
	color: white;
	background-color: lightgray;
}

content {
	font-family: courier;
}

footer {
	font-family: courier;
	color: white;
	position: fixed;
	left: 50;
	bottom: 0;
	width: 100%;
}
